@import '../../scss/variables';
@import '../../scss/mixins';

.container {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  transition: 0.3s;
  background-color: #fff;
  overflow: hidden;
  font-family: 'Spartan', sans-serif;
  font-size: 14px;
  
  &.open {
    width: 388px;
    box-shadow: 0 0 0 10000px rgba(0, 0, 0, 0.5);
    @include mobile {
      width: 100%;
    }
  }

  .tabNames {
    font-size: 15px;
    margin: 16px 12px;
    color: #E6E6E6;
    .tabName {
      margin: 0 12px;

      &.active {
        color: $mainDark;
      }
    }
  }

  .header {
    @include flexbox-between;
    width: 100%;
    background-color: $mainDark;
    padding: 12px 24px;
    color: #fff;
  }

  .orderSuccess {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: calc(100vh - 212px);
    margin: 48px 72px 0;
    text-align: center;
    span {
      margin-top: 24px;
    }
  }

  .orderFailure {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: calc(100vh - 262px);
    margin: 48px 72px 0;
    text-align: center;
    span {
      margin-top: 24px;
    }
  }

  .empty {
    text-align: center;
    margin: 48px 92px 0;
    height: calc(100vh - 212px);
  }

  .footer {
    margin: 24px;

    .totalPrice {
      @include flexbox-between;
      font-size: 16px;
    }

    button {
      width: 100%;
      padding: 12px 0;
    }

    .cartAction {
      background-color: $mainDark;
      color: #fff;
      margin-top: 24px;
    }

    .viewCartBtn {
      background-color:  #F8F8F8;
      margin-top: 12px;
    }
  }
}
