@import '../../scss/variables';
@import '../../scss/mixins';

.container {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  transition: 0.3s;
  background-color: #fff;
  overflow: hidden;
  
  &.open {
    width: 388px;
    box-shadow: 0 0 0 10000px rgba(0, 0, 0, 0.5);
    @include mobile {
      width: 100%;
    }
  }

  .tabs {
    font: 400 15px 'Spartan', sans-serif;
    margin: 16px 12px;
    color: #E6E6E6;
    .tab {
      margin: 0 12px;

      &.active {
        color: $mainDark;
      }
    }
  }

  .header {
    @include flexbox-between;
    width: 100%;
    background-color: $mainDark;
    padding: 12px 24px;
    color: #fff;
    font: 600 14px 'Spartan', sans-serif;
  }

  .empty {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 48px;
    height: calc(100vh - 212px);
    span {
      margin-top: 8px;
    }
    font: 600 26px 'Spartan', sans-serif;
  }

  .itemsTab,
  .deliveryInfoTab,
  .paymentTab {
    height: calc(100vh - 290px);
    margin: 24px;
    overflow-y: auto;
    overflow-x: hidden;
    @include mobile {
      margin: 24px 8px;
    }
  }

  .itemsTab {

    hr {
      margin: 12px 0;
    }

    .item {
      display: flex;
      .itemImg {
        width: 83px;
      }

      .details {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-left: 16px;
        img {
          width: 24px;
        }
        .name {
          font: 400 14px 'Spartan', sans-serif;
          color: $darkGrey;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
        .features {
          font: 600 12px 'Spartan', sans-serif;
          margin-top: 14px;
        }
        .itemActions {
          @include flexbox-center;
          margin-top: 44px;
          .number {
            @include flexbox-center;
            width: 80px;
            padding: 0 4px;
            background-color: #F8F8F8;
            .plus,
            .minus {
              @include flexbox-center;
              width: 20px;
              height: 32px;
            }
            input {
              width: 50%;
              text-align: center;
              cursor: auto;
              font: 400 14px 'Spartan', sans-serif;
            }
          }
          .price {
            font: 700 14px 'Spartan', sans-serif;
            margin-left: 16px;
            width: 80px;
          }
          .trash {
            margin-left: 40px;
            @include mobile {
              margin-left: 36px;
            }
          }
        }
      }
    }
  }

  .deliveryInfoTab {
    .title {
      font: 400 14px 'Spartan', sans-serif;
    }

    form {
      display: flex;
      flex-direction: column;
      padding-right: 8px;

      .deliveryMethodItem {
        display: flex;
        align-items: center;
      }

      .sectionLabel {
        font: 600 12px 'Spartan', sans-serif;
        margin-top: 8px;
      }

      .errorMessage {
        height: 24px;
        padding: 4px 0;
        color: $error;
        font: 500 11px 'Spartan', sans-serif;
      }

      .adressPart {
        display: flex;
        margin: 0 -4px;

        .adressHouse,
        .adressApartment {
          margin: 0 4px;
        }
      }

      .agreement {
        display: flex;
        margin-top: 8px;
      }

      hr {
        margin: 12px 0;
      }

      input[type="radio"], input[type="checkbox"] {
        accent-color: $mainDark;
        margin-right: 12px;
      }

      input[type="text"], input[type="tel"], input[type="email"] {
        background-color: #F8F8F8;
        font: 500 14px 'Spartan', sans-serif;
        padding: 12px;
        margin-top: 8px;
        cursor: auto;
        width: 100%;
        height: 48px;

        &.inputError {
          border: 1px solid $error;
        }
      }

      label {
        display: flex;
        font: 400 14px 'Spartan', sans-serif;
      }
    }
  }

  .paymentTab {
    .title {
      font: 400 14px 'Spartan', sans-serif;
    }

    hr {
      margin: 12px 0;
    }

    form {
      display: flex;
      flex-direction: column;

      .paymentMethodItem {
        display: flex;
        align-items: center;
      }

      .cardPayment {
        label {
          font: 600 12px 'Spartan', sans-serif;
          margin-top: 24px;
        }

        div {
          display: flex;
          margin: 8px -4px;
          input {
            margin: 0 4px;
          }

          div {
            margin: 0 4px;

            button {
              background-color: #F8F8F8;
              margin-left: -4px;
              padding-right: 8px;
            }
          }
        }
      }

      .payPalPayment {
        label {
          font: 600 12px 'Spartan', sans-serif;
          margin-top: 24px;
        }
      }

      input[type="radio"] {
        accent-color: $mainDark;
        margin-right: 12px;
      }

      label {
        display: flex;
        align-items: center;
        height: 24px;
        font: 400 14px 'Spartan', sans-serif;
      }

      input[type="text"], input[type="tel"], input[type="email"] {
        color: $darkGrey;
        background-color: #F8F8F8;
        padding: 12px;
        margin-top: 8px;
        cursor: auto;
        width: 100%;
      }
    }
  }

  .footer {
    margin: 24px;

    .totalPrice {
      @include flexbox-between;

      .text {
        font: 400 14px 'Spartan', sans-serif;
      }

      .price {
        font: 600 16px 'Spartan', sans-serif;
      }
    }

    button {
      width: 100%;
      padding: 12px 0;
      font: 500 13px 'Spartan', sans-serif;
    }

    .setTabBtn {
      background-color: $mainDark;
      color: #fff;
      margin-top: 26px;
    }

    .viewCartBtn {
      background-color:  #F8F8F8;
      margin-top: 12px;
    }
  }
}
