@import '../../scss/variables';
@import '../../scss/mixins';

.product {
  .content {
    display: flex;
    max-width: $containerWidth;
    margin: 32px auto 0;
    @include mobile {
      padding: 0 8px;
    }
  
    @include desktop {
      flex-direction: column;
    }
  }
}
