@import '../../../scss/variables';
@import '../../../scss/mixins';

.sale {
  margin: 96px 0;
}

.container {
  @include flexbox-between;
  max-width: $containerWidth;
  margin: auto;
  @include desktop {
    flex-direction: column;
    margin: -12px 0;
  }

  .newSeasonBanner {
    @include flexbox-center;
    width: 540px;
    height: 260px;
    background-image: url(../../../images/main-blocks/sale/new-season.svg);
    background-repeat: no-repeat;
    @include desktop {
      margin: 12px 0;
    }
    @include tablet {
      width: 100%;
      background-position: center;
    }
  }

  .saleBanner {
    @include flexbox-center;
    width: 540px;
    height: 260px;
    background-image: url(../../../images/main-blocks/sale/sale.svg);
    background-repeat: no-repeat;
    @include desktop {
      margin: 12px 0;
    }
    @include tablet {
      width: 100%;
      background-position: center;
    }
  }

  .bannerLabel {
    @include flexbox-center;
    margin: -4px 0;
    flex-direction: column;
    background-color: #fff;
    border-radius: 5px;
    padding: 15px 25px;

    .labelTitle {
      font: 600 12px 'Spartan', sans-serif;
      color: #9C9C9C;
      margin: 4px 0;
    }

    .labelDescription {
      font: 600 16px 'Spartan', sans-serif;
      color: $mainDark;
      margin: 4px 0;

      .highlighted {
        color: #E91E63;
      }
    }
  }
}
