@import '../../../scss/variables';
@import '../../../scss/mixins';

@mixin banner {
  width: 540px;
  height: 260px;
  background-repeat: no-repeat;

  @include flexbox-center;
  @include desktop {
    margin: 12px 0;
  }
  @include tablet {
    width: 100%;
    background-position: center;
  }
}

.wrapper {
  margin: 96px 0;

  .container {
    max-width: $containerWidth;
    margin: auto;

    @include flexbox-between;
    @include desktop {
      flex-direction: column;
      margin: -12px 0;
    }
  
    .newSeasonBanner {
      background-image: url(../../../images/main-blocks/sale/new-season.svg);
      @include banner;
    }
  
    .saleBanner {
      background-image: url(../../../images/main-blocks/sale/sale.svg);
      @include banner;
    }
  
    .label {
      margin: -4px 0;
      flex-direction: column;
      background-color: #fff;
      border-radius: 5px;
      padding: 15px 25px;

      @include flexbox-center;
  
      .title {
        font: 600 12px 'Spartan', sans-serif;
        color: #9C9C9C;
        margin: 4px 0;
      }
  
      .text {
        font: 600 16px 'Spartan', sans-serif;
        color: $mainDark;
        margin: 4px 0;
  
        .highlighted {
          color: #E91E63;
        }
      }
    }
  }
}
