@import '../../../../scss/variables';
@import '../../../../scss/mixins';

.container {
  font: 400 14px 'Spartan', sans-serif;
  margin: 0 -15px;

  @include flexbox-center;
  @include desktop {
    display: none;
  }
  @include tablet {
    flex-direction: column;
    margin: -10 -15px;
  }

  .link {
    margin: 0 15px;
    
    @include tablet {
      display: flex;
      margin: 10px 15px;
    }
  }
}
