@import '../../../scss/variables';
@import '../../../scss/mixins';

.topSection {
  color: $mainDark;
}

.container {
  max-width: $containerWidth;
  margin: 30px auto;
  @include desktop {
    @include flexbox-center;
    flex-direction: column;
  }
}
