@import '../../../scss/variables';
@import '../../../scss/mixins';

.wrapper {
  color: $mainDark;

  .container {
    max-width: $containerWidth;
    margin: 30px auto;
    
    @include desktop {
      @include flexbox-center;
      flex-direction: column;
    }
  }
}
