@import '../../scss/variables';
@import '../../scss/mixins';

.container {
  @include flexbox-between;
  max-width: $containerWidth;
  margin: 36px auto;
  font: 500 13px 'Spartan', sans-serif;
  color: $darkGrey;

  .filterBtn {
    @include flexbox-center;
    margin: 0 -8px;

    .icon {
      margin: 0 8px;
    }

    .text {
      margin: 0 8px;
    }

    &.active {
      img {
        content:url('../../images/products/filter-close.svg');
      }
      color: $mainDark;
    }
  }
  
  .viewType {
    @include flexbox-center;
    margin: 0 -14px;

    .list {
      margin: 0 14px;
    }

    .grid {
      margin: 0 14px;
    }
  }
}
