@import '../../scss/variables';
@import '../../scss/mixins';

.container {
  @include flexbox-between;
  max-width: $containerWidth;
  margin: 36px auto;
  font: 500 13px 'Spartan', sans-serif;
  color: $darkGrey;

    .filter {
      @include flexbox-center;
      margin: 0 -8px;
  
      .icon {
        margin: 0 8px;
      }
  
      .text {
        margin: 0 8px;
      }
    }
  
    .viewType {
      @include flexbox-center;
      margin: 0 -14px;
  
      .list {
        margin: 0 14px;
      }
  
      .grid {
        margin: 0 14px;
      }
    }
  
    .categories {
      @include flexbox-center;
  
      .text {
        margin: 0 2px;
      }
  
      .icon {
        margin-left: 2px;
      }
    }
}
