@import '../../scss/variables';
@import '../../scss/mixins';

.container {
  @include flexbox-between;
  max-width: $containerWidth;
  margin: 36px auto;
  font: 500 13px 'Spartan', sans-serif;
  color: $darkGrey;

  .filter {
    @include flexbox-center;
    margin: 0 -8px;

    .filterIcon {
      margin: 0 8px;
    }

    .filterText {
      margin: 0 8px;
    }
  }

  .viewType {
    @include flexbox-center;
    margin: 0 -14px;

    .viewList {
      margin: 0 14px;
    }

    .viewGrid {
      margin: 0 14px;
    }
  }

  .categories {
    @include flexbox-center;
    margin: 0 -2px;

    .categoriesText {
      margin: 0 2px;
    }

    .categoriesIcon {
      margin: 0 2px;
    }
  }
}
