@import '../../scss/variables';
@import '../../scss/mixins';

.container {
  margin: 5px 0 0 30px;
  width: 100%;

  @include desktop {
    width: 100%;
    margin: 14px 0 0 0;
  }

  .parameter {
    font: 600 12px 'Spartan', sans-serif;

    .name {
      color: $darkGrey;
    }

    .value {
      margin-left: 6px;
    }
  }

  .colorList {
    display: flex;
    margin: 20px 0;

    .item {
      margin: 0 8px;
      width: 64px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .sizeList {
    display: flex;
    margin: 20px 0;

    .item {
      background-color: #F8F8F8;
      margin: 0 8px;
      padding: 10px;
    }
  }

  .sizeGuide {
    @include flexbox-center;
    margin-bottom: 36px;

    .text {
      font: 500 12px 'Spartan', sans-serif;
      margin-left: 8px;
      color: $darkGrey;
    }
  }

  .description {
    .title {
      display: flex;
      font: 600 12px 'Spartan', sans-serif;
      color: $darkGrey;
      margin: 35px 0;
    }
  }


  .active {
    border: 2px solid $mainDark;
  }

  .inactive {
    border: none;
  }
}
