@import '../../../../scss/variables';
@import '../../../../scss/mixins';

.benefits {
  @include flexbox-between;
  margin: 30px auto;
  @include desktop {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .benefit {
    @include flexbox-center;
    margin: 0 -6px;
    @include desktop {
      display: flex;
      margin: 10px 10px;
    }

    img {
      margin: 0 6px;
    }

    .benefitTextBlock {
      display: flex;
      flex-direction: column;
      margin: -4px 6px;

      .benefitTitle {
        margin: 4px 0;
        font: 600 12px 'Spartan', sans-serif;
      }
  
      .benefitText {
        margin: 4px 0;
        font: 500 12px 'Spartan', sans-serif;
      }
    }
  }
}