@import '../../scss/variables';
@import '../../scss/mixins';

.container {
  .title {
    display: flex;
    font: 600 12px 'Spartan', sans-serif;
    margin: 32px 0;
  }

  .header {
    @include flexbox-between;

    .rating {
      @include flexbox-center;

      .text {
        margin-left: 10px;
        font: 500 11px 'Spartan', sans-serif;
        color: $darkGrey;
      }
    }

    .addReview {
      @include flexbox-center;

      .text {
        margin-left: 10px;
        font: 500 12px 'Spartan', sans-serif;
        color: $darkGrey;
      }
    }
  }

  .reviewList {
    display: flex;
    flex-direction: column;

    .item {
      margin: 24px 0;

      .header {
        @include flexbox-between;

        .author {
          font: 500 14px 'Spartan', sans-serif;
        }

        .rating {
          @include flexbox-center;

          .date {
            font: 500 11px 'Spartan', sans-serif;
            color: $darkGrey;
            margin-right: 10px;
          }
        }
      }

      .text {
        display: flex;
        font: 400 14px 'Spartan', sans-serif;
        color: $darkGrey;
        margin-top: 18px;
      }
    }
  }
}
