@import '../../scss/variables';
@import '../../scss/mixins';

.productCards {
  max-width: $containerWidth;
  margin: auto;

  .container {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
  @include desktop {
    @include flexbox-center;
    width: 100%;
  }
  }
}
