@import '../../../scss/variables';
@import '../../../scss/mixins';

.container {
  display: flex;
  flex-direction: column;
  width: 100%;

  .actions {
    display: flex;
    align-items: center;
    margin: 32px 0;

    .price {
      font: 700 22px 'Spartan', sans-serif;
    }

    .addProduct {
      background-color: $mainDark;
      margin-left: 24px;
      padding: 16px 24px;
      font: 500 13px 'Spartan', sans-serif;
      color: #fff;
    }

    .favouriteIcon {
      margin-left: 28px;
    }

    .scaleIcon {
      margin-left: 40px;
    }
  }

  .faq {
    @include flexbox-between;
    margin: 36px 0;

    .item {
      @include flexbox-center;

      .text {
        margin-left: 10px;
        font: 500 12px 'Spartan', sans-serif;
        color: $darkGrey;
      }
    }
  }

  .safeCheckout {
    display: flex;
    align-items: center;

    .text {
      font: 600 12px 'Spartan', sans-serif;
    }

    hr {
      width: 56%;
      margin-left: 24px;
    }
  }

  .paymentSystems {
    @include flexbox-between;
    margin: 28px 0;
    @include tablet {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}
