@import '../../../scss/variables';
@import '../../../scss/mixins';

.wrapper {
  background-color: $mainDark;
  color: #fff;

  .container {
    display: flex;
    justify-content: space-between;
    max-width: $containerWidth;
    margin: auto;

    @include desktop {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    ul {
      display: flex;
      margin: 5px 0;

      @include small {
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      li {
        padding-right: 32px;
        
        @include small {
          padding: 0;
        }

        span {
          vertical-align: middle;
          padding-left: 8px;
          font: 500 11px 'Spartan', sans-serif;
        }
      }
    }
  }
}
