@import '../../scss/variables';
@import '../../scss/mixins';

.container {
  display: flex;
  flex-direction: column;
  margin: 15px;
  position: relative;
  width: 255px;

  .cardImage {
    display: flex;
    width: 100%;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      transition: transform .3s;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  .name {
    margin-top: 16px;
    font: 400 14px 'Spartan', sans-serif;
    color: $darkGrey;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .description {
    margin-top: 12px;

    @include flexbox-between;

    .price {
      font: 700 14px 'Spartan', sans-serif;
    }

    .regularPrice {
      font: 700 12px 'Spartan', sans-serif;
      color: #a0a0a0;
      text-decoration: line-through;
      margin-left: 6px;
    }
  }

  .discount {
    position: absolute;
    top: 0;
    left: 0;
    width: 22%;
    height: 8%;
    background-color: #E91E63;
    color: #fff;
    font: 700 12px 'Spartan', sans-serif;
    line-height: 13px;

    @include flexbox-center;
  }

  .undiscounted {
    display: none;
  }
}
