@import '../../../variables';

.menu {
  color: $mainDark;

  hr {
    margin: 20px 0;
	  padding: 0;
	  height: 2px;
	  border: none;
	  background: #F8F8F8;
  }
}

.container {
  display: flex;
  justify-content: space-between;
  max-width: $containerWidth;
  margin: 20px auto;
}
