@import '../../scss/variables';
@import '../../scss/mixins';

.wrapper {
  background-color:  #F8F8F8;
  @include tablet {
    padding: 0 8px;
  }

  .container {
    display: flex;
    flex-direction: column;
    max-width: $containerWidth;
    margin: auto;

    .topLine {
      @include flexbox-between;
      margin-top: 12px;

      .navigation {
        @include flexbox-center;
        font: 500 11px 'Spartan', sans-serif;

        .homeLink {
          margin-right: 5px;
          color: $darkGrey;
        }

        .productTypeLink {
          margin: 0 5px;
          color: $darkGrey;
        }

        .productLink {
          margin: 0 5px;
        }

        .pointer {
          font-family: system-ui;
          color: $darkGrey;
          margin: 0 5px;
          padding-bottom: 2px;
        }

        .active {
          color: $mainDark;
        }
      }

      .share {
        @include flexbox-center;

        .icon {
          margin: 0 5px;
        }
  
        .text {
          margin-left: 5px;
          font: 500 11px 'Spartan', sans-serif;
          color: $darkGrey;
        }
      }
    }

    .title {
      margin: 20px auto 0;
      font: 600 26px 'Spartan', sans-serif;
    }

    .bottomLine {
      @include flexbox-between;

      .rating {
        @include flexbox-center;

        .stars {
          margin: 0 4px;
        }

        .text {
          font: 500 11px 'Spartan', sans-serif;
          color: $darkGrey;
          margin: 0 4px;
        }
      }

      .article {
        @include flexbox-center;

        .name {
          font: 500 11px 'Spartan', sans-serif;
          color: $darkGrey;
          margin-left: 12px;
        }

        .value {
          font: 700 11px 'Spartan', sans-serif;
          color: $mainDark;
        }
      }
    }
  }
}
