@import '../../../scss/variables';
@import '../../../scss/mixins';

.wrapper {
  color: $mainDark;

  .container {
    display: flex;
    justify-content: space-between;
    max-width: $containerWidth;
    margin: 20px auto;
    
    @include desktop {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}
