@import '../../../scss/variables';
@import '../../../scss/mixins';

.wrapper {
  color: $mainDark;
  @include desktop {
    position: relative;
  }

  .container {
    display: flex;
    justify-content: space-between;
    max-width: $containerWidth;
    margin: 20px auto;
    @include desktop {
      width: 100%;
    }
    @include small {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .logo {
      @include flexbox-center;
      @include small {
        margin: 8px 0;
      }
    }
  }
}
