@import '../../../../scss/variables';
@import '../../../../scss/mixins';

@mixin banner-styles {
  background-repeat: no-repeat;
  @include flexbox-center;
}

.banners {
  display: grid;
  height: 490px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 200px 260px;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  @include desktop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  @include tablet {
    width: 100%;
  }

  .slider {
    grid-area: 1 / 1 / 3 / 3;
    background-image: url(../../../../images/main-blocks/top-section/banner.svg);
    @include banner-styles;
    @include desktop {
      height: 490px;
    }
    @include tablet {
      width: 100%;
      background-position: center;
    }

    .viewSwitcher {
      margin: 0 16px;
      background-color: #fff;
      border-radius: 50%;
      padding: 8px 10px 6px;
    }

    .sliderBanner {
      @include flexbox-center;
      flex-direction: column;
      padding: 15px 25px;
      margin: -5px 60px;
      background-color: #fff;
      border-radius: 5px;
      @include tablet {
        margin: -5px 30px;
      }
    }

    .bannerLabel {
      color: #9C9C9C;
      margin: 5px 0;
      font: 600 12px 'Spartan', sans-serif;
    }

    .sliderTitle {
      margin: 5px 0;
      font: 600 22px 'Spartan', sans-serif;
    }
  }

  .womenBanner {
    grid-area: 1 / 3 / 2 / 4;
    background-image: url(../../../../images/main-blocks/top-section/women.svg);
    @include banner-styles;
    @include desktop {
      width: 255px;
      height: 200px;
    }
  }

  .menBanner {
    grid-area: 1 / 4 / 2 / 5;
    background-image: url(../../../../images/main-blocks/top-section/men.svg);
    @include banner-styles;
    @include desktop {
      width: 255px;
      height: 200px;
    }
  }

  .accessoriesBanner {
    grid-area: 2 / 3 / 3 / 5;
    background-image: url(../../../../images/main-blocks/top-section/accessories.svg);
    @include banner-styles;
    @include desktop {
      width: 540px;
      height: 260px;
    }
    @include tablet {
      width: 100%;
      background-position: center;
    }
  }

  .bannerTitle {
    padding: 15px 25px;
    background-color: #fff;
    border-radius: 5px;
    font: 600 14px 'Spartan', sans-serif;
  }
}
