@import '../../../scss/variables';
@import '../../../scss/mixins';

.wrapper {
  color: $mainDark;

  .container {
    display: flex;
    justify-content: space-between;
    max-width: $containerWidth;
    margin: 40px auto;

    @include tablet {
      flex-direction: column;
      width: 100%;
    }
  
    .item {
      display: flex;
      flex-direction: column;
      margin:-7px 0;
      width: 20%;

      @include tablet {
        margin: 8px auto;
        width: 40%;
      }

      @include small {
        margin: 8px auto;
        width: 60%;
      }
  
      .title {
        font: 600 12px 'Spartan', sans-serif;
        margin: 7px 0;
      }
  
      .link {
        font: 400 12px 'Spartan', sans-serif;
        margin: 7px 0;
        span {
          &:hover {
            display: inline;
            border-bottom: 3px solid #f9dd94;
          }
        }
      }
  
      .contactItem {
        display: flex;
        align-items: center;
        margin: 5px 0 5px -5px;
        font: 400 12px 'Spartan', sans-serif;

        img {
          margin: 0 4px;
        }
  
        span {
          margin: 0 4px;
        }
      }
    }
  }
}
