@import '../../../scss/variables';
@import '../../../scss/mixins';

.container {
  .title {
    display: flex;
    font: 600 12px 'Spartan', sans-serif;
    margin-top: 32px;
  }

  .text {
    margin: 36px 0;

    .item {
      margin: 6px 0;
      
      .name {
        font: 500 14px 'Spartan', sans-serif;
      }
  
      .value {
        font: 400 14px 'Spartan', sans-serif;
        color: $darkGrey;
        margin-left: 4px;
      }
    }
  }
}
