@import '../../../scss/variables';
@import '../../../scss/mixins';

.additionalInfo {
  .infoTitle {
    display: flex;
    font: 600 12px 'Spartan', sans-serif;
    margin-top: 32px;
  }

  .infoText {
    margin: 36px 0;

    .textItem {
      margin: 6px 0;
      
      .itemName {
        font: 500 14px 'Spartan', sans-serif;
      }
  
      .itemValue {
        font: 400 14px 'Spartan', sans-serif;
        color: $darkGrey;
        margin-left: 4px;
      }
    }
  }
}
