@import '../../../../scss/variables';
@import '../../../../scss/mixins';

.menuItems {
  @include flexbox-center;
  font: 400 14px 'Spartan', sans-serif;
  margin: 0 -15px;
  @include desktop {
    margin: 20px 0;
  }
  @include tablet {
    flex-direction: column;
    margin: -10 -15px;
  }

  .menuLink {
    margin: 0 15px;
    @include tablet {
      display: flex;
      margin: 10px 15px;
    }
  }
}
