@import '../../../scss/variables';
@import '../../../scss/mixins';

.wrapper {
  margin: 96px 0;

  .container {
    max-width: $containerWidth;
    margin: auto;

    .header {
      margin-bottom: 54px;

      @include flexbox-between;
      @include desktop {
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .title {
        font: 600 22px 'Spartan', sans-serif;

        @include desktop {
          margin: 8px 0;
        }
      }

      .filters {
        @include desktop {
          margin: 8px 0;
        }
        @include tablet {
          @include flexbox-center;
          flex-direction: column;
        }

        .filter {
          margin-left: 30px;
          font: 400 12px 'Spartan', sans-serif;
          color: $darkGrey;
          
          @include tablet {
            margin: 12px 0;
          }
        }
      }
    }

    .expandProducts {
      margin-top: 50px;
      width: 100%;
      padding: 18px 0;
      background-color: #F8F8F8;
      font: 500 13px 'Spartan', sans-serif;
    }
  }
}
