@import './scss/variables';
@import './scss/mixins';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 
body {
  font-family: 'Inter', 'Montserrat', 'Playfair Display SC', 'Spartan', sans-serif;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: inherit;
}

hr {
  margin: 0;
  padding: 0;
  height: 2px;
  border: none;
  background: #E5E5E5;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.wrapper {
  max-width: $maxWidth;
  margin: auto;
  @include desktop {
    width: 100%;
  }
}
