@import './scss/variables';
@import './scss/mixins';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', 'Montserrat', 'Playfair Display SC', 'Spartan', sans-serif;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: inherit;
}

hr {
  margin: 0;
  padding: 0;
  height: 2px;
  border: none;
  background: #E5E5E5;
}

button, 
input[type="submit"], 
input[type="reset"], 
input[type="text"], 
input[type="number"], 
input[type="tel"], 
input[type="email"] {
	background: none;
	color: inherit;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.wrapper {
  max-width: $maxWidth;
  margin: auto;
  @include desktop {
    width: 100%;
  }

  &.hidden {
    opacity: 0.4;
  }
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #f9f9fd;
  @include mobile {
    width: 4px;
  }
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #808080;
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: #f9f9fd;
}
