@import './variables';

@mixin flexbox-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexbox-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin desktop {
  @media (max-width: $desktop){
      @content;
  }
}

@mixin tablet {
  @media (max-width: $tablet){
      @content;
  }
}

@mixin mobile {
  @media (max-width: $mobile){
      @content;
  }
}
