@import '../../scss/variables';
@import '../../scss/mixins';

.relatedProducts {
  .container {
    max-width: $containerWidth;
    margin: 104px auto;

    .header {
      @include flexbox-between;

      .title {
        font: 600 22px 'Spartan', sans-serif;
      }

      .slider {
        display: flex;
        margin: 0 -20px;

        .sliderButton {
          margin: 0 20px;
        }
      }
    }

    .products {
      display: flex;
      margin: 54px 0 0 -15px;
    }
  }
}
