@import '../../scss/variables';
@import '../../scss/mixins';

.wrapper {
  background-color:  #F8F8F8;

  .container {
    display: flex;
    flex-direction: column;
    max-width: $containerWidth;
    margin: auto;

    .topLine {
      @include flexbox-between;
      margin-top: 12px;
      @include desktop {
        width: 100%;
      }

      .navigation {
        @include flexbox-center;
        font: 500 11px 'Spartan', sans-serif;

        .homeLink {
          margin-right: 5px;
          color: $darkGrey;
        }

        .pointer {
          font-family: system-ui;
          margin: 0 5px;
          padding-bottom: 2px;
        }

        .productTypeLink {
          margin: 0 5px;
        }
      }

      .share {
        @include flexbox-center;
      }

      .icon {
        margin: 0 5px;
      }

      .text {
        margin-left: 5px;
        font: 500 11px 'Spartan', sans-serif;
        color: $darkGrey;
      }
    }
  
    .title {
      margin: 20px auto;
      font: 600 26px 'Spartan', sans-serif;
    }
  }
}
